/* my Style */

html {
    background: url(http://s30.postimg.org/74ic3v80h/meagain.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
h1.centerText {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 60px;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    text-transform: uppercase;
}